HELP.md
target/
*.log 
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Package Files ###
*.jar 
*.war 
*.ear 
*.zip 
*.tar.gz 
*.rar 

### Eclipse ### 
.metadata 
bin/ 
tmp/ 
*.tmp 
*.bak 
*.swp 
*~.nib 
local.properties 
.settings/ 
.loadpath 
.recommenders 
*.launch

### Eclipse Core ###
.project 
Servers/
RemoteSystemsTempFiles/

# External tool builders 
.externalToolBuilders/ 

# Code Recommenders 
.recommenders/ 

# sonarlint modules
.sonarlint

# attach_pid files
.attach_pid*

# All .mp4 files
*.mp4
